/* General CSS */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  /* Colors */
  --bgColor: #1c2d3b;
  --headerBgColor: #0b0f1b;
  --menuBgColor: #1c2d3b;
  --newReleaseBgColor: #e54c0d;
  --newReleaseBtnColor: white;
  --quoteBgColor: #e54c0d;
  --headlineBgColor: #0b0f1b;
  --headlineTxtColor: white;
  --footerBgColor: #0b0f1b;
  --white: white;
  --txtBlue: #e54c0d;
  --txtRed: white;
  --black: black;

  /* Fonts */
  --headlineTxtFont: "Montserrat", sans-serif;
  --menuFont: "Montserrat", sans-serif;
  --pTxtFont: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  font-family: var(--pTxtFont);
  background-color: var(--bgColor);
}

img {
  width: 100%;
}

.headline {
  background-color: var(--headlineBgColor);
  color: var(--headlineTxtColor);
  font-family: var(--headlineTxtFont);
  padding: 2%;
}

/* Header mobile */
.header-top {
  background-color: var(--headerBgColor);
  color: var(--headlineTxtColor);
  display: flex;
  flex-direction: column;
  padding: 2%;
  font-family: var(--headlineTxtFont);
}

.header-top img {
  display: none;
}

select {
  width: 10%;
}
/* Menu mobile */

nav {
  background-color: var(--menuBgColor);
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 1rem;
}

li {
  border-bottom: 0.1rem solid var(--headlineTxtColor);
  width: 100%;
  text-align: center;
  padding: 1.5%;
}

li a {
  text-decoration: none;
  font-family: var(--menuFont);
  color: var(--headlineTxtColor);
}

/* New Release mobile*/
#new-release {
  background-color: var(--newReleaseBgColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--headlineTxtFont);
  text-align: center;
  padding-top: 10%;
}

#new-release-btn {
  background-color: var(--newReleaseBtnColor);
  border-radius: 0.7rem;
  padding: 2%;
  width: 50%;
  margin: 5%;
  text-align: center;
}

#new-release img {
  width: 30%;
  margin: 2%;
  padding: 2%;
  background-color: var(--white);
  border-radius: 1rem;
}

.italic {
  font-style: italic;
  padding: 7%;
}

#new-release-p {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 5%;
  color: var(--headlineTxtColor);
  font-size: 1.1rem;
}

#new-release-p blockquote {
  background-color: var(--quoteBgColor);
  color: var(--black);
  padding: 5%;
  border-radius: 1rem;
  margin: 3%;
  font-style: italic;
}

#new-release-p cite {
  font-style: normal;
  font-weight: bold;
}

#new-release-p aside {
  display: none;
}

/* On Tour mobile*/

#on-tour article {
  margin: 3%;
}

.tour-box {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid var(--headlineTxtColor);
  padding: 5%;
  color: var(--white);
}

.tour-box img {
  width: 5%;
  padding: 0;
}

.flex {
  display: flex;
}

.blue-txt {
  color: var(--txtBlue);
  font-weight: bold;
}

.red-txt {
  color: var(--txtRed);
  font-weight: bold;
}

/* Books Mmobile*/
#books article {
  padding: 5%;
  display: flex;
  flex-direction: column;
  color: var(--white);
}

#books img {
  width: 50%;
  align-self: center;
  padding-bottom: 5%;
}

.bold {
  font-weight: bold;
  padding-bottom: 5%;
}

/* Contact mobile */

#contact img {
  border-radius: 50%;
  width: 30%;
  align-self: center;
}

#contact article {
  display: flex;
  flex-direction: column;
  padding: 5%;
  color: var(--white);
}

.contact-form {
  margin-top: 10%;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 3%;
}

/* Footer mobile */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--footerBgColor);
  text-align: center;
}

.socials {
  display: flex;
  flex-direction: row;
  width: 30%;
  gap: 0.3rem;
  margin: 5% 0 5% 0;
}

footer a {
  color: var(--white);
  text-decoration: none;
}

.socials img {
  border-radius: 50%;
}

footer p {
  color: var(--headlineTxtColor);
}

#credits {
  margin: 5% 0 5% 0;
}

#kea-publishing {
  width: 30%;
}

/* General desktop */
@media (min-width: 1024px) {
  body {
    margin-left: calc((100vw - 745px) / 2 - 15%);
    margin-right: calc((100vw - 745px) / 2 - 15%);
  }
}

/* header desktop */

@media (min-width: 1024px) {
  .header-top {
    background-color: var(--headerBgColor);
    color: var(--headlineTxtColor);
    display: flex;
    flex-direction: row;
    padding: 2%;
    font-family: var(--headlineTxtFont);
    justify-content: space-between;
    text-align: center;
  }

  header h1 {
    font-size: 4rem;
  }

  header h2 {
    font-size: 2rem;
  }

  .header-top img {
    display: block;
    border-radius: 50%;
  }

  select {
    width: 3%;
    height: 10%;
  }
}

/* menu desktop */
@media (min-width: 1024px) {
  nav {
    background-color: var(--menuBgColor);
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    gap: 1rem;
    font-size: 1.2rem;
  }

  li {
    border-bottom: none;
  }
}

/* new release desktop */
@media (min-width: 1024px) {
  #new-release {
    background-color: var(--newReleaseBgColor);
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    font-family: var(--headlineTxtFont);
    text-align: center;
    padding: 2% 2% 2% 2%;
  }

  #new-release-btn {
    background-color: var(--newReleaseBtnColor);
    border-radius: 0.7rem;
    padding: 1%;
    width: auto;
    margin: 5%;
    text-align: center;
  }

  #new-release img {
    margin: 0 0% 20% 0%;
    padding: 2%;
    background-color: var(--white);
    border-radius: 1rem;
    grid-column: end;
    width: 100%;
  }

  .italic {
    font-style: italic;
    padding: 4% 0 0 0;
  }

  #new-release-p {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-column: 1/5;
    gap: 15px;
    padding: 5%;
    color: var(--headlineTxtColor);
    font-size: 1.1rem;
  }

  #new-release-p blockquote {
    background-color: var(--quoteBgColor);
    color: var(--black);
    padding: 5%;
    border-radius: 1rem;
    margin: 3%;
    font-style: italic;
  }

  #new-release-p cite {
    font-style: normal;
    font-weight: bold;
  }

  #new-release-p aside {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    grid-column: 5/6;
  }

  #published-books {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

/* on tour desktop */
